$background: #293035;
$main: #AB80F4;
$warm-blue: #CDDBE9;
$warm-gray: #5A636B;
$almost-white: #CCDAE8;
$title: #98A3AF;
$description: #545C64;
$purple-light: #4b4379;
$red: #F6697D;
$dark-red: #81414b;
$light-white: #D1DFEE;
$orange: #F7B267;
$dark-orange: #8b5e2e;

$quicksand: 'Quicksand', sans-serif;